* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}



.logo h2 {
    font-size: 45px;
    font-weight: 900;



}

.color-orange {
    color: #FD6E0A;

}

nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;

}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    width: 230px;
    height: 64px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.btn-2{
    background-color: transparent;
    border: 1px solid #FD6E0A;
    padding: 18px 35px;
    width: 180px;
    height: 64px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    margin-left: 30px;
}


.section-heading{
    max-width: 827px ;
    text-align: center;
    margin: 0 auto;

}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}






/* main style */


header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position:23px 38px, bottom right;
    background-repeat: no-repeat;

}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;

}

.text-center{
    text-align: center;
}


#banner {
    /* border: 1px solid; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;


}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;

}

#about,#skills,#resume {
    padding-top: 130px;
}

#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

}


#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    


}
.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}




.skills-cotainer{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;

}

#skills .skills-cotainer .skills-box{
    display: flex;
    gap: 24px;
} 

.skills-box .skill-card{
    padding: 30px;
    /* border: 1px solid; */
    box-shadow: 0 6px 50px 0 #00000022 ;
    max-width: 267px;

}

.skill-card img{
    width: 44px ;
    margin-bottom: 30px;
}

.skill-card h2{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}

.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}


#resume .resume-container{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    gap: 24px;



}

.resume-container .section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;

}

.resume-card{
    max-width: 511px;
    margin-right: 47px;

}

.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom:10px ;
    color: #474747;
}

.resume-card .card-info{
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
    font-weight: 600;
}

.resume-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;

}

hr{
    margin: 30px 0;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 200px 0;
}

footer .footer-cotainer{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;

}

.footer-cotainer .social{
    max-width: 562px;
}

.footer-cotainer p{
    font-size: 16px;
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}


.footer-cotainer h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}

.footer-cotainer .icons a{
    margin-right: 24px;

}

.footer-cotainer .form input[type="text"] {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;

}
.footer-cotainer .form input[type="email"], textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;

}



